	.center{ 
		height: 75vh;
		position: relative;
		animation-name: bounce-in-top;
		animation-duration: 1s;
    	}
	.center div{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.firstname{
		color: white; font: 70px Verdana; 
		font-weight: bold;
		height: 25px;
		width: auto;
	}
	.lastname{
		color: white; font: 
		70px Verdana; 
		font-weight: bold;
		height: 50px;
		width: auto;
	}
	.quote{
		color: white; 
		font: 33px "Comic Sans MS","Schoolbell";
		height: 50px;
		width: auto;
	}
	.link{
		height: 50px;
		width: 110px;
		display: inline-block;
	}
	.namecard{
		height: 470px;
		width: 510px;
		background: black;
		}
	.empty{
		
	@keyframes bounce-in-top{
		0%{
		transform:translateY(-500px);
		animation-timing-function:ease-in;
		opacity:0
		}
		38%{
		transform:translateY(0);
		animation-timing-function:ease-out;
		opacity:1
		}
		55%{
		transform:translateY(-65px);
		animation-timing-function:ease-in
		}
		72%{
		transform:translateY(0);
		animation-timing-function:ease-out
		}
		81%{
		transform:translateY(-28px);
		-webkit-animation-timing-function:ease-in
		}
		90%{
		transform:translateY(0);
		animation-timing-function:ease-out
		}
		95%{
		transform:translateY(-8px);
		animation-timing-function:ease-in}100%
		{transform:translateY(0);animation-timing-function:ease-out}
	}
