.center{ 
		height: 100vh;
		position: relative;
    	}
	.center div{
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.firstname{
		color: black; font: 70px Verdana; 
		font-weight: bold;
		height: 25px;
		width: auto;
	}
	.lastname{
		color: black; font: 
		70px Verdana; 
		font-weight: bold;
		height: 50px;
		width: auto;
	}
	.quote{
		color: black; 
		font: 35px "Schoolbell";
		height: 50px;
		width: auto;
	}
	.link{
		height: 50px;
		width: 110px;
		display: inline-block;
	}
	.namecard{
		height: 470px;
		width: 510px;
		background: black;
		}
