#centerDiv {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 25vw;
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#link{
    margin-left: 1.55vw;
    margin-right: 1.55vw;
}
.linksdiv{
    display: inline-block;
}
.text{
    text-align: center;
}
#twemoji{
    margin-top: 3px;
}
#bottomText{
    margin-bottom: 25px;
    font: 1.2vw "Comic Sans MS","Schoolbell";
}
#topText{
    margin-top: 7%;
    font: 3.1vw "Roboto";
}
