/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1;font-family: sans-serif}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration: none;}
/*index.html*/
.ryn-home-wrapper{display: flex; flex-direction: column; justify-content: center; align-items: center; height: 87.5vh; padding-bottom: 12.5vh; background: #07c;}
#ryn-home-particles{position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: transparent;}
.ryn-home-title{color: white; font-size: 3em;z-index: 9999;}
.ryn-home-quote{color: #46B0FB;z-index: 9999;}
.ryn-home-quote{margin-top: 10px; font-size: 1.3em;}
.ryn-home-link{text-decoration: none; color: white;}
/*things.html*/
.ryn-header-wrapper{display: flex; flex-direction: column; justify-content: center; align-items: center; height: 17.5vh; padding: 0 10px; background: white;}
.ryn-things-body{height: 82.5vh;}
.ryn-things-title{color: black; font-size: 2.5em;}
.ryn-things-full{width: 100%; height: 27.5vh; user-select: none;}
.ryn-things-half{width: 50%; height: 27.5vh; user-select: none;}
.ryn-things-half.left{float: left;}
.ryn-things-half.right{float: right;}
/*safc*/
.safc{display: flex;  justify-content: center; align-items: center; background: #eb172b;}
.safc-title{color: black; text-decoration: none; font-size: 2.6em;}
.safc-quote{color: black; opacity: 0.5; margin-top: 10px; font-size: 1.55em; text-align: center;}
.safc-img{height: 100px; width: 100px;}
/*lifx*/
.lifx{display: flex; justify-content: center; flex-direction: column; align-items: center; background: #450099;}
.lifx-img{height: 100px;}
.lifx-quote{color: white; font-size: 1.75em; margin-left: 110px;}
/*tasks*/
.tasks{display: flex; flex-direction: column; justify-content: center; align-items: center; background: #407ce6;}
.tasks-span{display: flex; justify-content: space-around; align-items: center; border-radius: 0.7em; background: white; width: 250px; height: 100px;}
.tasks-title{color: black; font-size: 1.9em; text-align: center; margin-right: 15px;}
.tasks-icon{height: 100px; width: 100px;}
/*compass*/
.compass{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #126bac;
}
.compass-logo{
    height: 200px;
}
.compass-title{
    position: relative;
    bottom: 65px;
    font-weight: initial;
    color: white;
    font-size: 3.2em;
    text-align: center;
}
/*pascal*/
.pascal{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F433AB;
}
.pascal-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pascal-triangle{
    text-align: center;
    margin-bottom: 10px;
    color: purple;
}
.pascal-title{
    font-size: 1.5em;
    color: white;
    text-align: center;
}