@import url('https://fonts.googleapis.com/css?family=Roboto|Schoolbell');
html {height: 100%;}
body { text-align: center; }
.padding {
    height: 250px;
    width: 100%;
}
h1, p, a {
    color: black;
    font-family: 'Roboto', sans-serif;
}
p {
    font-size: 20px;
    padding-bottom: 5px;
}
h1{ 
    font-size: 50px;
    color:#ee3d48;
    text-shadow: 3px 2px 100px #ff515c;
}
a i{ 
    text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.60);
    font-size: 25px;
    padding: 0 15px;
}
a i:hover { 
    color:#ee3d48;
    text-shadow: 0px 0px 100px rgba(255, 81, 92, 0.5);
}

@media only screen and (max-height: 750px) {
    .padding {
        height: 180px;
        width: 100%;
    }
}
@media only screen and (min-height: 700px) {
    .padding {
        height: 30vh;
        width: 100%;
    }
}
@media (orientation:landscape) {
    .padding {
        height: 15vh;
        width: 100%;
    }
}
@media (max-height: 350px) and (orientation:landscape) {
    .padding {
        height: 15vh;
        width: 100%;
    }
}
@media (max-height: 350px) and (orientation:landscape) {
    .padding {
        height: 10vh;
        width: 100%;
    }
}
